/.metadata
/.recommenders
/RemoteSystemsTempFiles
/builds/env.properties
/builds/distrib/
/build-*/*

.project
.classpath

*/.settings/*
*/.externalToolBuilders/*

/build-*
/**/*.user
/**/*.autosave
/languages/*.qm
/**/build/*
/modules/
/distrib/
/**/build-*/*

/changeset.txt

/*.user

**/UserInterfaceState.xcuserstate
**/languages/*.qm
**/*.exe